.no_win
  %h3 No win, No fee
  %p In the rare event that we can't collect your debt, we won't charge you a single penny...
  %img{:src => ""}/
  %a{:href => "#"} Find out more
.low_cost
  %h3 Low cost / free?
  %p Our collection fees are low, and we may even be able to collect your debt free...
  %img{:src => ""}/
  %a{:href => "#"} Find out more
.debtor
  %h3 Debtor tracing
  %p Has the person/business who owes you money moved or stopped communicating? We can help...
  %img{:src => ""}/
  %a{:href => "#"} Find out more
.text_body
  %p
    For debt collection in the UK, call K2 - the full service debt recovery agency.
    %br/
    = succeed "Consumer" do
      %br/
    %br/
    = succeed "Our" do
      %br/
    %br/
    = succeed "The" do
      %br/
    %br/
    Call now on 0333 772 0278.
.small_banner
  %ul
    %li when to use a debt collector
    %li debt collection procedures explained
    %li Late payment legislation explained
.why_k2_list
  %h3 Why choose k2?
  %ul
    %li Full nationwide UK debt collection service
    %li All debts considered, large or small
    %li Commercial and private debt recovery
    %li Debtor tracing service
    %li Proactive - more than just a phone call
    %li 30 years experience, high success rates
    %li Fast and efficient - we know what to do
    %li Low fee / no fee collections
    %li We keep you informed of progress
    %li We save you time and hassle
.outside_uk
  %h3 Outside the UK?
  %p If you live or work outside the UK we can still help you, provided it is a UK debt - so the person or business who owes you money lives or works in England, Scotland, Wales or N Ireland. We have collected debts for overseas customers in Australia, America, China and several EU countries including Germany, Spain and France. Trying to collect a debt from outside the UK can be really tough, so why not use our UK debt collection service? Our fees are exactly the same as for our UK customers, and the 'no win no fee' gurantee still applies.