.body_text
  %p
    K2 Collections has offices in Cambridge, Birmingham, Leeds and Great Yarmouth and offers a nationwide UK debt collection service for all types of consumer and commercial debt.
    %br/
    = succeed "Our" do
      %br/
  %ul
     
    %li To recover money owed to you as quickly as possible
     
    %li To save you time, hassle and stress when faced with a non-payer
     
    %li To provide a low fee, or free where possible, debt collection service
     
    %li To always act professionally, efficiently and ethically
     
    %li To give you honest advice before, during and after the debt collection process
     
    %li To keep you fully informed throughout the debt collection process
     
    %li To collect for you 100% (or more where possible) of money owed to you
  %p
    We have an enviable record of successfully collecting debts. The reason we are so successful is that we understand the reasons people don't or won't pay, and we know what leverage to apply to the case to recover your money. These skills have been honed over many years of collecting debts on a daily basis.
    %br/
    = succeed "Put" do
      %br/
.small_banner
  %ul
    %li when to use a debt collector
    %li debt collection procedures explained
    %li Late payment legislation explained
.debtor
  %h3 Debtor tracing
  %p Has the person/business who owes you money moved or stopped communicating? We can help...
  %img{:src => ""}/
  %a{:href => "#"} Find out more
.why_k2_list
  %h3 Why choose k2?
  %ul
    %li Full nationwide UK debt collection service
    %li All debts considered, large or small
    %li Commercial and private debt recovery
    %li Debtor tracing service
    %li Proactive - more than just a phone call
    %li 30 years experience, high success rates
    %li Fast and efficient - we know what to do
    %li Low fee / no fee collections
    %li We keep you informed of progress
    %li We save you time and hassle