.body_text
  %p
    %a{:href => "www.payontime.co.uk"} www.payontime.co.uk
    Pay on Time - The Complete Guide to The Late Payment of Commercial debts (Interest) Act
    %a{:href => "www.bankofengland.co.uk/mfsd/iadb/Repo.asp?Travel=NIxIRx"} www.bankofengland.co.uk
    Bank of England Base Rate
    %a{:href => "www.csa-uk.com"} www.csa-uk.com
    Credit Service Association
    %a{:href => "www.landreg.gov.uk"} www.landreg.gov.uk
    HM Land Registry - Records for land ownership and interests in England and Wales
    %a{:href => "www.ico.gov.uk"} www.ico.gov.uk
    The Information Commissioner’s Office - The Data Protection Act
    %a{:href => "www.experian.co.uk"} www.experian.co.uk
    Equifax - Free Credit Report and Credit Check Services
    %a{:href => "www.equifax.co.uk"} www.equifax.co.uk
    Equifax - Free Credit Report and Credit Check Services
    %a{:href => "www.callcredit.co.uk"} www.callcredit.co.uk
    Call Credit - Check your credit report direct from a UK credit reference agency
    %a{:href => "www.moneyclaim.gov.uk"} www.moneyclaim.gov.uk
    Money Claim Online - HMCS internet based service for claimants and defendants
    %a{:href => "www.aarlsen.co.uk"} www.aarlsen.co.uk
    Aarlsen Design - Professional graphic design for branding, advertising, print and web
.small_banner
  %ul
    %li when to use a debt collector
    %li debt collection procedures explained
    %li Late payment legislation explained
%div
  %h3 Low cost / free?
  %p Our collection fees are low, and we may even be able to collect your debt free...
  %img{:src => ""}/
  %a{:href => "#"} Find out more
.why_k2_list
  %h3 Why choose k2?
  %ul
    %li Full nationwide UK debt collection service
    %li All debts considered, large or small
    %li Commercial and private debt recovery
    %li Debtor tracing service
    %li Proactive - more than just a phone call
    %li 30 years experience, high success rates
    %li Fast and efficient - we know what to do
    %li Low fee / no fee collections
    %li We keep you informed of progress
    %li We save you time and hassle