<div class="body_text">
  <p>
    <a href="www.payontime.co.uk">www.payontime.co.uk</a>
    Pay on Time - The Complete Guide to The Late Payment of Commercial debts (Interest) Act
    <a href="www.bankofengland.co.uk/mfsd/iadb/Repo.asp?Travel=NIxIRx">www.bankofengland.co.uk</a>
    Bank of England Base Rate
    <a href="www.csa-uk.com">www.csa-uk.com</a>
    Credit Service Association
    <a href="www.landreg.gov.uk">www.landreg.gov.uk</a>
    HM Land Registry - Records for land ownership and interests in England and Wales
    <a href="www.ico.gov.uk">www.ico.gov.uk</a>
    The Information Commissioner’s Office - The Data Protection Act
    <a href="www.experian.co.uk">www.experian.co.uk</a>
    Equifax - Free Credit Report and Credit Check Services
    <a href="www.equifax.co.uk">www.equifax.co.uk</a>
    Equifax - Free Credit Report and Credit Check Services
    <a href="www.callcredit.co.uk">www.callcredit.co.uk</a>
    Call Credit - Check your credit report direct from a UK credit reference agency
    <a href="www.moneyclaim.gov.uk">www.moneyclaim.gov.uk</a>
    Money Claim Online - HMCS internet based service for claimants and defendants
    <a href="www.aarlsen.co.uk">www.aarlsen.co.uk</a>
    Aarlsen Design - Professional graphic design for branding, advertising, print and web
  </p>
</div>
<div class="small_banner">  
  <ul>
    <li>when to use a debt collector</li>
    <li>debt collection procedures explained</li>
    <li>Late payment legislation explained</li>
  </ul>
</div>

<div>
  <h3>Low cost / free?</h3>
  <p>Our collection fees are low, and we may even be able to collect your debt free...</p>
  <img src="">
  <a href="#">Find out more</a>
</div>
<div class="why_k2_list">
  <h3>Why choose k2?</h3>
  <ul>
    <li>Full nationwide UK debt collection service</li>
    <li>All debts considered, large or small</li>
    <li>Commercial and private debt recovery</li>
    <li>Debtor tracing service</li>
    <li>Proactive - more than just a phone call</li>
    <li>30 years experience, high success rates</li>
    <li>Fast and efficient - we know what to do</li>
    <li>Low fee / no fee collections</li>
    <li>We keep you informed of progress</li>
    <li>We save you time and hassle</li>
  </ul>
</div>