.body_text
  %p
    If you are owed money it is empowering to know your rights. However, keeping abreast with legislation and knowing how to enforce it can be time consuming and difficult.
    %br/
    = succeed "Because" do
      %br/
    %br/
    = succeed "If" do
      %br/
    %br/
    = succeed "If" do
      %br/
    %br/
    = succeed "Click" do
      %br/
.quote
  %p We've been very impressed with this professional and efficient service.
  %h3 CLIENT: Helen Trood, TDT Enterprises Ltd AMOUNT COLLECTED: £1044.32 (5 debts)
.small_banner
  %ul
    %li when to use a debt collector
    %li debt collection procedures explained
    %li Late payment legislation explained
.no_win
  %h3 No win, No fee
  %p In the rare event that we can't collect your debt, we won't charge you a single penny...
  %img{:src => ""}/
  %a{:href => "#"} Find out more
.why_k2_list
  %h3 Why choose k2?
  %ul
    %li Full nationwide UK debt collection service
    %li All debts considered, large or small
    %li Commercial and private debt recovery
    %li Debtor tracing service
    %li Proactive - more than just a phone call
    %li 30 years experience, high success rates
    %li Fast and efficient - we know what to do
    %li Low fee / no fee collections
    %li We keep you informed of progress
    %li We save you time and hassle