<div>
  <p>It's your money, so don't wait any longer - the longer a debt is left, the harder it is to recover</p>
  <p>For immediate action call 0333 772 0278</p>
  <p>or click here for a free information pack</p>
  <div>
    <p>K2 Collections are members of the Credit Services Association</p>
    <img src="#">
    <p>&copy;K2 Colections Limited. Professional Debt Collectors for recovery of money (business and consumer debt recovery) throughout the UK. Reg in England No.6720942. Reg Office: Novus Centre, The Conge, Great Yarmouth, NR30 1NA. VAT No.943 1605 37 Data Protection Registration No. Z1571954 Site by Aarisen Design</p>
  </div>
</div>