%img.logo{:src => ""}/
%ul
  %li Home
  %li Debt Recovery
  %li Our Fees
  %li About Us
  %li Instruct Us Now
  %li Your Rights
  %li Debt FAQs
  %li Links
  %li Contact
%h2 Owed money? We'll get it for you
%ul
  %li For immediate action call 0333 772 0278
  %li Click here for a free information pack
  %li Email us at info@k2collections.co.uk